@import "../../../style/_vars.sass";

section.PlanTemplate {
  padding: 0 10px;

  .Plan {
    margin-top: 30px;
    border: 1px solid #dddd;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    transition: $fast-transition;
    &:hover {
      transform: scale(1.05) translate(0, -2rem);
    }

    .planIcon {
      position: absolute;
      width: 65px;
      height: 65px;
      background: linear-gradient(106deg, #96e7d7, #689db6, #3a6191);
      border-radius: 50%;
      border: 7px solid #fff;
      top: -17px;
      left: -22px;
      font-size: 23px;
      padding: 8px 10px 0 10px;
      color: #eee;
    }
    .PlanHeader {
      background: #ddd9;
      padding: 30px;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 20px;
      color: #444;
    }
    .planBody {
      ul.featuresList {
        padding: 0;
        margin: 0;
        list-style: none;

        li.feature {
          border-bottom: 1px dashed #dddd;
          padding: 2px 0;
          font-size: 15px;
        }
      }
    }
    p.cost {
      margin: 0;
      margin-top: 12px;
    }

    small.role {
      padding: 7px 0 15px 0;
      display: block;
    }

    .planFooter {
      button {
        padding: 4px 10px !important;
        border: 1px solid #0f8165;
        margin: 0 5px;
      }
    }
  }
}
