@import "../../../style/_vars.sass";

.singleRoom {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  padding: 60px 0 0 0;

  .card {
    border-left: 0;
    .cardImage {
      margin-top: 27px;
    }

    .room.description {
      color: $main-gray;
    }

    .addInformation {
      span.addInfo {
        display: block;
      }
    }
    .rating {
      small {
        span.star {
          font-size: 18px;
          color: #ebc91c;
        }
      }
    }

    p.orderRoom {
      display: flex;
      justify-content: flex-end;

      a.makeOrder {
        color: $off-white;
        text-decoration: none;
        padding: 4px 10px !important;
        margin: 0 5px;
        position: relative;
        min-width: 12rem;
        min-height: 3rem;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 5rem;
        overflow: hidden;
        background: $alt-cl-4;
        transition: all ease-in-out 0.2s;
        border: 1px solid;
        &:hover {
          transform: scale(1.05);
        }

        span.btnIcon {
          position: absolute;
          background: #0000001c;
          top: 0;
          bottom: 0;
          left: 0;
          width: 32px;
          padding: 2px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span.btnContext {
          padding-left: 27px;
          font-size: 16px;
        }
      }
    }
  }
}
