nav.navBar {
  height: 60px;
  position: relative;

  .wing {
    height: inherit;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .togglerAndLogoContainer {
    .toggler {
      display: none;
      background: none;
      border: none;
      outline: none;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          height: 2px;
          width: 30px;
          background: #333;
          margin: 5px 0;
        }
      }
    }
    .logoCont {
      height: 100%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .linksList {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;

      li {
        margin: 0 5px;
      }
    }
  }
  .loginBtn {
    justify-content: flex-end;

    span.welcome {
      color: #666;
      font-size: 14px;
    }

    button.loginBtn {
      border: 1px solid #181818;
      padding: 4px 10px !important;
      margin: 0 5px;
      position: relative;

      a {
        color: #eee;
        text-decoration: none;
      }

      span.btnIcon {
        position: absolute;
        background: #0000001c;
        top: 0;
        bottom: 0;
        left: 0;
        width: 32px;
        padding: 2px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      span.btnContext {
        padding-left: 27px;
        font-size: 16px;
      }
    }
  }
}

// i wrote this lines with styled component to get benefit of logic :)
// .alternativeLinks {
//   height: 0;
//   overflow: hidden;

//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;

//     li {
//       padding: 6px 5px 0 25px;
//     }
//   }
// }

// GLOBAL NAV LINKS:
li.navLink {
  a {
    color: #666;
    text-decoration: none;
  }
}

// MEDIA QUERY:
@media (max-width: 786px) {
  nav.navBar {
    .togglerAndLogoContainer {
      .toggler {
        display: block !important;
      }
    }

    .linksList {
      display: none;
    }
  }
}
