header.mainHeader {
  width: 100%;
  min-height: 80vh;

  h2.headerHeading {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    padding: 40px;
  }

  .headerBody {
    min-height: 200px;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .buttons {
    height: 70px;
    justify-content: center;
    display: flex;
    margin-top: 20px;

    button {
      padding: 8px 12px;
      margin: 0 5px;
    }
  }
}
