@import "../../style/_vars.sass";

header.mainHeader {
  min-height: 102vh;
  padding: 50px 0;

  h1.headerHeading {
    text-align: center;
    color: #eeeddd;
    padding: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70px;
  }

  .headerBody {
    min-height: 5px;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;

    .headerContentWrapper {
      font-size: 18px;
    }
  }

  .buttons {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    min-height: 10rem;
    align-items: center;

    a {
      color: $alt-cl-4;
      text-decoration: none;
      padding: 4px 10px !important;
      margin: 0 5px;
      position: relative;
      min-width: 12rem;
      min-height: 3rem;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 5rem;
      overflow: hidden;
      background: #eeeddd;
      transition: all $fast-transition;
      margin: 1.5rem 0;

      &:hover {
        transform: scale(1.1) translate(0, -0.5rem);
      }

      span.btnIcon {
        position: absolute;
        background: #0000001c;
        top: 0;
        bottom: 0;
        left: 0;
        width: 32px;
        padding: 2px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span.btnContext {
        padding-left: 27px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header.mainHeader {
    h1.headerHeading {
      font-size: 50px;
    }
  }
}
