@import "../../style/_vars.sass";

header {
  .pricingHeaderWing.leftWing {
    .imgWing {
      width: 252px;
      height: 252px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .textWing {
      button.wingBtn {
        padding: 8px 20px;
        background: linear-gradient(131deg, #12a3be, #52a4cc, #0531409c);
        border-radius: 3px;
        color: #fff;
        border: 0;
      }
    }
  }

  .pricingHeaderWing.rightWing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

// ROOMS:
.roomWrapper {
  .roomsBlock {
    padding: 2rem 0;
    border-bottom: 1px solid $alt-gray;
  }

  h2.heading {
    font-weight: bolder;
    font-size: 37px;
    color: #444;
    margin: 3rem 0;
  }
}
.featuredRoomsWrapper {
}

.allRoomsWrapper {
}
