section.roomTemplate {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.3s;

  &:hover {
    box-shadow: 2px 4px 10px -4px black;

    .roomViewer {
      opacity: 0.6;
    }

    img {
      animation: delayGrow 6s;
    }
  }

  img {
    filter: blur(1.5px);
  }
  .card-body {
    overflow: hidden;
    .roomContext {
      font-size: 14px;
    }

    .rating {
      display: flex;
      justify-content: flex-end;
    }
    small {
      span.star {
        font-size: 18px;
        color: #ebc91c;
      }
    }
  }

  .roomViewer {
    transition: opacity ease-in-out 0.3s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #d3d1d1;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -270%);
    opacity: 0;
    background: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
  }
}

// IMAGE ANIMATION:
@keyframes delayGrow {
  0% {
    transform: scale(1);
    filter: blur(1.5px);
  }

  100% {
    transform: scale(1.2);
    filter: blur(0);
  }
}
